
@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 header-table">
                <h6 id="type" fromMob="true">Event List</h6>


                <a href='@Url.Action("EditEvent", "Events", new { FromMob = ViewBag.FromMob })' class="">Add New</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2 main-table">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">ORDER</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">TITLE</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">TITLE(Arabic)</th>
                                @*<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Image</th>*@
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Date</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Type</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">EDIT</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<EliteHospital.Core.Event>)ViewData["EventList"])
                            {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <p class="text-xs font-weight-bold mb-0">@( ((Int32) 1) + ((List<EliteHospital.Core.Event>)ViewData["EventList"]).IndexOf(item) )</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Title</h6>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Title_Arabic</h6>

                                        </div>
                                    </div>
                                </td>
                                @*<td>
                                    <div>
                                        @{ var imgSrc = "";
                                            if (item.Image != null)
                                            {
                                                var base64 = Convert.ToBase64String(item.Image);
                                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            }
                                            DateTime strDate = Convert.ToDateTime(@item.CreatedDate);
                                            String date = strDate.ToString("dd-MM-yyyy"); }
                                        @if (item.Image != null)
                                        {
                            <img src="@imgSrc" class="avatar avatar-sm me-3" alt="user1">}
                        else
                        {

                        }
                                    </div>
                                </td>*@
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">

                                            @{ var date = "";
                                                if (item.CreatedDate != null)
                                                {
                                                    DateTime strDate = Convert.ToDateTime(@item.CreatedDate);
                                                     date = strDate.ToString("dd-MM-yyyy");
                                                }
                                                 }
                                            <h6 class="mb-0 text-sm">@date</h6>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Type</h6>

                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    @Html.ActionLink("Edit", "EditEvent", "Events", new { Id = @item.Id }, new { @class = "banneredit text-secondary font-weight-bold text-xs link-tab" })
                                <td class="align-middle">
                                    @Html.ActionLink("Delete", "DeleteEvent", "Events", new { CovidBannerId = @item.Id }, new { @class = "bannerdelete text-secondary font-weight-bold text-xs link-tab" })
                                </td>
                            </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade edit-pop" id="exampleModal" editid="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Do you want to edit?
            </div>
            <div class="modal-footer">
                <button id="editBanner" type="button" class="btn btn-secondary">Yes</button>
                @*@Html.ActionLink("Yes", "EditBanner", "Banner", null, new { @class = "btn btn-secondary" })*@
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade edit-pop" id="exampleModal2" deleteid="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Do you want to Delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Yes</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav-collapse-main ul li a").removeClass("active");
        if ($("#type").attr("fromMob") == 'true') {
            $("#menuEventsMob").addClass("active");
        }
        else {
            $("#menuEvents").addClass("active");
        }

        $("#pageHeader").text("Events");
        $("#pageHeader1").text("Events");

        var deleteurl = '@Url.Action("DeleteEvent", "Doctor")';
        $("body").off("click", ".DeleteEvent");
        $("body").on("click", ".DeleteEvent", function () {
            if (confirm("Do you want to delete?")) {
                var Id = parseInt(this.id);
                var data = { Id: Id };
                var row = $(this).closest("tr");
                $.ajax({
                    type: "POST",
                    url: deleteurl,
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            row.remove();
                        }
                    }
                });
            }
        });
    });
</script>

