
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 header-table">
                @if (ViewBag.FromMob == true)
                {
                    <h6 id="type" fromMob="true">Banners List (Mobile)</h6>
                }
                else
                {
                    <h6 id="type" fromMob="false">Banners List</h6>
                }

                @*<a href="banner-edit.html">Add New</a>*@
                <a href='@Url.Action("EditBanner", "Banner", new { FromMob = ViewBag.FromMob })' class="btn-bkapmnt">Add New</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2 main-table">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">SL.NO</th>
                                @*<th class="text-uppercase text-secondary text-xxs font-weight-bolder ">BANNER TITLE</th>*@
                                @*<th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">BANNER TITLE(Arabic)</th>*@
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">LOGO</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">EDIT</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<EliteHospital.Core.Banner>)ViewData["BannerList"])
                            {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <p class="text-xs font-weight-bold mb-0">@( ((Int32) 1) + ((List<EliteHospital.Core.Banner>)ViewData["BannerList"]).IndexOf(item) )</p>
                                    </div>
                                </td>
                                @*<td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.BannerTitle</h6>

                                        </div>
                                    </div>
                                </td>*@
                                @*<td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">@item.BannerTitleArabic</h6>
                                    </div>
                                </td>*@
                                @if (ViewBag.FromMob == true)
                                {
                                    <td class="align-middle text-center text-sm">
                                        <div>
                                            @*@{
                                                var imgSrc = "";
                                                if (item.BannerImageMobile != null && item.BannerImageMobile.Length > 0)
                                                {
                                                    var base64 = Convert.ToBase64String(item.BannerImageMobile);
                                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                }
                                            }*@
                                            @if (item.Banner_Image != null && item.Banner_Image.Length > 0)
                                            {
                                                <img src="@item.Banner_Image" class="avatar avatar-sm me-3" alt="user1">
                                            }
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    {
                                        <td class="align-middle text-center text-sm">
                                            <div>
                                                @*@{
                                                    var imgSrc = "";
                                                    if (item.Banner_Image != null && item.BannerImage.Length > 0)
                                                    {
                                                        var base64 = Convert.ToBase64String(item.BannerImage);
                                                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                    }
                                                }*@
                                                @if (item.Banner_Image != null && item.Banner_Image.Length > 0)
                                                {
                                                    <img src="@item.Banner_Image" class="avatar avatar-sm me-3" alt="user1">
                                                }
                                            </div>
                                        </td>
                                    }
                                }


                                <td class="align-middle">
                                    @Html.ActionLink("Edit", "EditBanner", "Banner", new { BannerId = @item.Id, FromMob = ViewBag.FromMob }, new { @class = "banneredit text-secondary font-weight-bold text-xs link-tab" })
                                <td class="align-middle">
                                    @Html.ActionLink("Delete", "DeleteBanner", "Banner", new { BannerId = @item.Id, FromMob = ViewBag.FromMob }, new { @class = "bannerdelete text-secondary font-weight-bold text-xs link-tab" })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade edit-pop" id="exampleModal" editid="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Do you want to edit?
            </div>
            <div class="modal-footer">
                <button id="editBanner" type="button" class="btn btn-secondary">Yes</button>
                @*@Html.ActionLink("Yes", "EditBanner", "Banner", null, new { @class = "btn btn-secondary" })*@
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade edit-pop" id="exampleModal2" deleteid="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Do you want to Delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Yes</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {


        $("#sidenav-collapse-main ul li a").removeClass("active");
        if ($("#type").attr("fromMob") == 'true') {
            $("#menuBannersMob").addClass("active");
        }
        else {
            $("#menuBanners").addClass("active");
        }
        

        $("#pageHeader").text("Banners");
        $("#pageHeader1").text("Banners");

        $("#editBanner").click(function () {
            var id = $("#exampleModal").attr("editid");

            var buttons = $(".banneredit");
            for (var i = 0; i < buttons.length; i++) {
                var btn = buttons[i];
                if (btn.attr("id") == id) {
                    btn.click();
                }
            }
        });

        $(".banneredit").click(function () {
            $("#exampleModal").attr("editid", this.id);
        });


    });
</script>