
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class=" cnt_inr">
                    <h3>
                        Events
                        <span>
                            Events
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evtPgs">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-4 sngEv">
                <div class="EvtS">
                    <a href='@Url.Action("EventList", "Events")'>
                               
                        @*<a href="~/Content/MainSite/Eng/Events-List.html">*@
                            <div class="evImg">
                            <img src="~/Content/MainSite/images/event_01.jpg" alt="event">
                            <div class="dtBx">
                                26
                                <span>Jun, 2020</span>
                            </div>
                        </div>
                        <div class="evCt">
                            <div class="txEvt">
                                First Aid & CPRs
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unchanged. </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sngEv">
                <div class="EvtS">
                    <a href='@Url.Action("EventList", "Events")'>
                        <div class="evImg">
                            <img src="~/Content/MainSite/images/event_02.jpg" alt="event">
                            <div class="dtBx">
                                12
                                <span>Mar, 2020</span>
                            </div>
                        </div>
                        <div class="evCt">
                            <div class="txEvt">
                                Training & Health Awareness Programs
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sngEv">
                <div class="EvtS">
                    <a href='@Url.Action("EventList", "Events")'>
                        <div class="evImg">
                            <img src="~/Content/MainSite/images/event_03.jpg" alt="event">
                            <div class="dtBx">
                                04
                                <span>Mar, 2020</span>
                            </div>
                        </div>
                        <div class="evCt">
                            <div class="txEvt">
                                Breast Cancer Awareness 2019
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unchanged. </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sngEv">
                <div class="EvtS">
                    <a href='@Url.Action("EventList", "Events")'>
                        <div class="evImg">
                            <img src="~/Content/MainSite/images/event_04.jpg" alt="event">
                            <div class="dtBx">
                                12
                                <span>Mar, 2018</span>
                            </div>
                        </div>
                        <div class="evCt">
                            <div class="txEvt">
                                World Health Day 2018
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unchanged.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sngEv">
                <div class="EvtS">
                    <a href='@Url.Action("EventList", "Events")'>
                        <div class="evImg">
                            <img src="~/Content/MainSite/images/event_05.jpg" alt="event">
                            <div class="dtBx">
                                04
                                <span>Mar, 2020</span>
                            </div>
                        </div>
                        <div class="evCt">
                            <div class="txEvt">
                                Primary Schools Health Visit
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unchanged. </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 sngEv">
                <div class="EvtS">
                    <a href='@Url.Action("EventList", "Events")'>
                        <div class="evImg">
                            <img src="~/Content/MainSite/images/event_06.jpg" alt="event">
                            <div class="dtBx">
                                13
                                <span>Jan, 2020</span>
                            </div>
                        </div>
                        <div class="evCt">
                            <div class="txEvt">
                                Primary Schools Health Visit
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unchanged. </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

