
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 header-table">
                @if (ViewBag.FromMob == true)
                {
                    <h6 id="type" fromMob="true">Daily Offer List (Mobile)</h6>
                }
                else
                {
                    <h6 id="type" fromMob="false">Daily Offer List</h6>
                }
                <a href='@Url.Action("EditDailyOffer", "DailyOffers", new { FromMob = ViewBag.FromMob })' class="btn-bkapmnt">Add New</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2 main-table">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">SL.NO</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">LOGO</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">EDIT</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<EliteHospital.Core.DailyOffer>)ViewData["DailyOfferList"])
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <p class="text-xs font-weight-bold mb-0">@( ((Int32) 1) + ((List<EliteHospital.Core.DailyOffer>)ViewData["DailyOfferList"]).IndexOf(item) )</p>
                                        </div>
                                    </td>
                                    @if (ViewBag.FromMob == true)
                                    {
                                        <td class="align-middle text-center text-sm">
                                            <div>
                                                @{
                                                    var imgSrc = "";
                                                    if (item.ImageMob != null && item.ImageMob.Length > 0)
                                                    {
                                                        var base64 = Convert.ToBase64String(item.ImageMob);
                                                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                    }
                                                }
                                                @if (item.ImageMob != null && item.ImageMob.Length > 0)
                                                {
                                                    <img src="@imgSrc" class="avatar avatar-sm me-3" alt="user1">
                                                }
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        {
                                            <td class="align-middle text-center text-sm">
                                                <div>
                                                    @{
                                                        var imgSrc = "";
                                                        if (item.Image != null && item.Image.Length > 0)
                                                        {
                                                            var base64 = Convert.ToBase64String(item.Image);
                                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                        }
                                                    }
                                                    @if (item.Image != null && item.Image.Length > 0)
                                                    {
                                                        <img src="@imgSrc" class="avatar avatar-sm me-3" alt="user1">
                                                    }
                                                </div>
                                            </td>
                                        }
                                    }

                                    <td class="align-middle">
                                        @Html.ActionLink("Edit", "EditDailyOffer", "DailyOffers", new { Id = @item.Id, FromMob = ViewBag.FromMob }, new { @class = "banneredit text-secondary font-weight-bold text-xs link-tab" })
                                    <td class="align-middle">
                                        @*@Html.ActionLink("Delete", "DeleteDailyOffer", "DailyOffers", new { Id = @item.Id, FromMob = ViewBag.FromMob }, new { @class = "bannerdelete text-secondary font-weight-bold text-xs link-tab" })*@
                                        <a Id=@item.Id class="DeleteDailyOffer bannerdelete text-secondary font-weight-bold text-xs link-tab" href="#">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav-collapse-main ul li a").removeClass("active");
        if ($("#type").attr("fromMob") == 'true') {
            $("#menuDailyOfferMob").addClass("active");
        }
        else {
            $("#menuDailyOffer").addClass("active");
        }

        $("#pageHeader").text("Daily Offers");
        $("#pageHeader1").text("Daily Offers");

        var deleteurl = '@Url.Action("DeleteDailyOffer", "DailyOffers")';
        $("body").off("click", ".DeleteDailyOffer");
        $("body").on("click", ".DeleteDailyOffer", function () {
            if (confirm("Do you want to delete?")) {
                var Id = parseInt(this.id);
                var data = { Id: Id };
                var row = $(this).closest("tr");
                $.ajax({
                    type: "POST",
                    url: deleteurl,
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            row.remove();
                        }
                    }
                });
            }
        });

    });
</script>