
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 header-table">
                <h6>Careers</h6>
                <a href='@Url.Action("EditCareer", "Career", new { })' class="btn-bkapmnt">Add New</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2 main-table">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">SL.NO</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">VACANCY</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">POSITION DESCRIPTION</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">EDIT</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<EliteHospital.Core.Career>)ViewData["CareerList"])
                            {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <p class="text-xs font-weight-bold mb-0">@( ((Int32) 1) + ((List<EliteHospital.Core.Career>)ViewData["CareerList"]).IndexOf(item) )</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Vacancy</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.PositionDescription</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    @Html.ActionLink("Edit", "EditCareer", "Career", new { Id = @item.Id }, new { @class = "text-secondary font-weight-bold text-xs link-tab" })
                                <td class="align-middle">
                                    @*@Html.ActionLink("Delete", "DeleteCareer", "Career", new { Id = @item.Id }, new { @class = "text-secondary font-weight-bold text-xs link-tab" })*@
                                    <a Id=@item.Id class="DeleteCareer bannerdelete text-secondary font-weight-bold text-xs link-tab" href="#">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav-collapse-main ul li a").removeClass("active");
        $("#menuCareer").addClass("active");

        $("#pageHeader").text("Careers");
        $("#pageHeader1").text("Careers");

        var deleteurl = '@Url.Action("DeleteCareer", "Career")';
        $("body").off("click", ".DeleteCareer");
        $("body").on("click", ".DeleteCareer", function () {
            if (confirm("Do you want to delete?")) {
                var Id = parseInt(this.id);
                var data = { Id: Id };
                var row = $(this).closest("tr");
                $.ajax({
                    type: "POST",
                    url: deleteurl,
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            row.remove();
                        }
                    }
                });
            }
        });
    });
</script>

