
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BookingLayout.cshtml";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mn-hd">Book Your Consultation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="dpt-apmnt dpt-bnr owl-carousel">
                <div class="dpt-nme dpt-active" id="ALL"><a href="#">All</a></div>
                @foreach (var item in (List<EliteHospital.Core.Department >)ViewData["Departments"])
                {
                    <div class="dpt-nme" id="@item.DepartmentName"><a href="#">@item.DepartmentName</a></div>
                }
            </div>
        </div>

    </div>
    <div class="row doctorslist">
        @foreach (var item in (List<EliteHospital.Core.Doctor>)ViewData["DoctorListFromServer"])
        {
            <div deartmentId="@item.DepartmentName" searchstring="@item.DoctorName@item.Position" class="col-md-6 col-xl-4 dr-list doctorprofile">
                <div class="media">
                    @if (item.Doctor_Image != null && item.Doctor_Image.Length > 0)
                    {
                        //var base64 = Convert.ToBase64String(item.Photo);
                        //var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img class="align-self-center mr-4" src="@item.Doctor_Image" alt="Generic placeholder image">
                    }
                    else
                    {
                        <img class="align-self-center mr-4" src="Content/Site/Booking/images/doctors/dummy-f.png" alt="Generic placeholder image">
                    }

                    <div class="media-body">
                        <h5 class="mt-0">@item.DoctorName</h5>
                        @*<p>Designation : <strong>@item.Position</strong></p>*@
                        <p class="mb-0">Specialty : <strong>@item.DepartmentName</strong></p>
                        @if (item.DoctorBioStatus == "ACTIVE")
                        {
                            <div class="bk-apmt">
                                <a href='@Url.Action("BookYourConsultation", "Booking", new { doctorId = item.DoctorId })' class="btn-bkapmnt">Book Appointment</a>

                            </div>}

                        @*<a href="#" class="btn-profile">Profile</a>*@
                    </div>
                </div>
            </div>
        }

        @*<div class="col-md-6 col-xl-4 dr-list">
            <div class="media">
                <img class="align-self-center mr-4" src="../Content/Site/Booking/images/doctors/dummy-m.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Dr. Heba Anwar Al-shaikh</h5>
                    <p>Designation : <strong>Dentist</strong></p>
                    <p class="mb-0">Specialty : <strong>Oral & Maxillofacial Surgeon</strong></p>
                    <a href="#" class="btn-profile">Profile</a>
                    <a href="#" class="btn-bkapmnt">Book Appointment</a>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.mob-serch').click(function () {
            $('.hdr-search').css('display', 'block');
            $('body').css('overflow', 'hidden');
        });
        $('.cl-action').click(function () {
            $('.hdr-search').css('display', 'none');
            $('body').css('overflow', 'unset');
        });

        //$('.serch_bx').bind('input', function (evt) {
        //    var value = this.value;
        //    var deptId = $(".dpt-active").attr("id");
        //    var filteredDoctors = null;
        //    if (deptId == "ALL") {
        //        filteredDoctors = $(".doctorslist .doctorprofile").filter(function () {
        //            return $(this).attr("searchstring").toUpperCase().indexOf(value.toUpperCase()) != -1;
        //        });
        //    }
        //    else {
        //        filteredDoctors = $(".doctorslist .doctorprofile").filter(function () {
        //            return $(this).attr("deartmentId") == deptId &&
        //                $(this).attr("searchstring").toUpperCase().indexOf(value.toUpperCase()) != -1;
        //        });
        //    }
        //    $(".doctorslist .doctorprofile").css("display", "none");
        //    $(filteredDoctors).each(function (index) {
        //        $(this).css("display", "block");
        //    });
        //});

        $(".dpt-nme").click(function () {
            var id = this.id;
            $('.serch_bx').val("");
            $(".dpt-nme").removeClass("dpt-active");
            $(this).addClass("dpt-active");
            if ($(this).find('a').text().toUpperCase() == "ALL") {
                $(".doctorslist .doctorprofile").css("display", "block");
            }
            else {
                $(".doctorslist .doctorprofile").css("display", "none");
                var filteredDoctors = $(".doctorslist .doctorprofile").filter(function () {
                    return $(this).attr("deartmentId") == id;
                });
                $(filteredDoctors).each(function (index) {
                    $(this).css("display", "block");
                });
            }
        });

        $('.dpt-bnr').owlCarousel({
            loop: false,
            dots: false,
            nav: false,
            autoWidth: true,
            items: 4,
            margin: 15
        });
    });
</script>


