
@{
    ViewBag.Title = "PlasticSurgery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class=" cnt_inr">
                    <h3>
                        Our Departments
                        <span>
                            Plastic Surgery
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="depts evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="evtCt">
                    <div class="ttL">Plastic Surgery</div>
                    <p>
                        Our Surgical team of 3 Surgeons at Elite Medical Center are highly trained professionals with a wide range of specialties allowing Elite to offer a comprehensive range of services and patient care.
                        <br></br>
                        Our Plastic Surgery Department at Elite Medical Center has gained an excellent reputation for plastic and aesthetic procedures and is one of the few places in Qatar where such treatments are offered.
                        <br></br>
                        Our Surgeons are equipped with the latest in state of the art medical technology and the highest of technology in our 3 specifically designed theatres and Day Surgery Unit at Elite Medical Center.
                        <br></br>
                        Elite Medical Center has gone above and beyond to find extraordinarily skilled surgeons and nursing Rest assured, you can take comfort in knowing that the highly-trained Elite surgical team is skilled and experienced in a variety of surgical procedures
                        and work together to get you back to health as quickly as possible.
                    </p>

                    <h3 class="dtl-hd mb-3">The Main Day Surgery Treatments Available:</h3>


                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_02.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Rhinoplasty, Septoplasty</h4>
                        <p>A Nose job (rhinoplasty) is a surgery on the nose to change its shape or improve its function. </p>
                        <a href="@Url.Action("Rhinoplasty", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_03.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Liposuction, Lipofilling and Body Contouring</h4>
                        <p>Liposuction is a surgical procedure that uses a suction technique to remove fat from specific areas of the body, such as ...</p>
                        <a href="@Url.Action("Liposuction", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_07.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Breast Augmentation and Breast Implants</h4>
                        <p>Breast Augmentation — also known as augmentation mammoplasty — is a surgery done to increase breast size. </p>
                        <a href="@Url.Action("BreastAugmentation", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_07.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Breast Reduction, Mastopexy and Breast Lifts</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/gynecomastia.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Gynecomastia</h4>
                        <p>For men who feel self-conscious about their appearance, breast-reduction surgery can help. </p>
                        <a href="@Url.Action("Gynecomastia", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/derma-04.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Hair Transplant</h4>
                        <p>Hair Transplantation is a surgical technique that removes hair follicles from one part of the body, and is transplanted to a bald or balding part of the body.</p>
                        <a href="@Url.Action("HairTransplant", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_05.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Otoplasty and Ear Surgery</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_04.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Blepharoplasty and Ptosis (Eyelid surgeries)</h4>
                        <p>Blepharoplasty is a type of surgery that repairs droopy eyelids and may involve removing excess skin, muscle and fat. </p>
                        <a href="@Url.Action("Blepharoplasty", "Department", new { })">Read more</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_08.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Tummy Tuck, Abdominoplasty</h4>
                        <p>Abdominoplasty or “Tummy Tuck” is a cosmetic surgical procedure used to make the abdomen thinner and firmer. </p>
                        <a href="@Url.Action("Abdominoplasty", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_01.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Face Lift, Brachioplasty, Brow Lift, Browplasty</h4>
                        <p>A Face-Lift (rhytidectomy) is a cosmetic surgical procedure done to create a younger appearance in your face. </p>
                        <a href="@Url.Action("FaceNeckLifting", "Department", new { })">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_06.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Buttock Augmentation</h4>
                        <p>Buttock Augmentation is a cosmetic surgery performed on patients who wish to have a fuller, rounder butt. </p>
                        <a href="@Url.Action("ButtockAugmentation", "Department", new { })">Read more</a>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_07.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Female Breast Surgery </h4>
                        <a href="@Url.Action("FemaleBreastSurgery", "Department", new { })">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="find-drs dpt-find-drs">
    <div class="dptdr-hd" data-aos="fade-up" data-aos-delay="300">
        Doctors
        <div class="tb-main-hd">
            <h4>Our Doctors</h4><span>Plastic Surgery</span>
        </div>
    </div>
    <div class="cus-container">
        <div class="row">

            <div class="col-md-12 dr-lizt">
                <div class="owl-carousel dpt-dr-slider">
                    <div class="dr-list">
                        <img src="~/Content/MainSite/images/doctors-hm/bulent.jpg" alt="">
                        <div class="dr-dtls-wraper">
                            <div class="pro-dtls">
                                <h5>
                                    Dr. Bulent Demir
                                </h5>
                                <p>Plastic Surgery Department</p>
                                <small>Plastic Surgeon </small>
                                <div class="bk-apmt">

                                    <a class="bk-cpt bookappointment" href="#">Book An Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dr-list">
                        <img src="~/Content/MainSite/images/doctors-hm/basher.jpg" alt="">
                        <div class="dr-dtls-wraper">
                            <div class="pro-dtls">
                                <h5>
                                    Dr. Bashar Naddah
                                </h5>
                                <p>Plastic Surgery Department</p>
                                <small>Plastic Surgeon </small>
                                <div class="bk-apmt">

                                    <a class="bk-cpt bookappointment" href="#">Book An Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="dr-list">
                        <img src="~/Content/MainSite/images/doctors-hm/omer.jpg" alt="">
                        <div class="dr-dtls-wraper">
                            <div class="pro-dtls">
                                <h5>
                                    Dr. Omer Ozerdam
                                </h5>
                                <p>Plastic Surgery Department</p>
                                <small>Plastic Surgeon </small>
                                <div class="bk-apmt">

                                    <a class="bk-cpt" href="coming-soon.html">Book An Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>*@


                </div>
            </div>
        </div>
    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

