
@model EliteHospital.Web.Areas.Admin.ViewModel.MachinesViewModel
@{ ViewBag.Title = "EditMedia";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav-collapse-main ul li a").removeClass("active");
        $("#menuMachines").addClass("active");

        $("#covidbannerimage").change(function () {
            $("#covidbannerfilename").val($(this).val());
        });
        $("#pdfupload").change(function () {
            $("#pdfuploadfilename").val($(this).val());
        });
    });</script>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 header-table form-header">
                <h6>Machines Edit</h6>
                @Html.ActionLink("View All", "Index", "Machines", null, new { })
            </div>
            <div class="card-body px-0 pt-0 pb-2 main-form">
                @using (Html.BeginForm("EditMachines", "Machines", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Machines Image</label>
                                <label for="file" class="input input-file">
                                    @Html.HiddenFor(p => p.Id)
                                    <div class="button">
                                        @Html.TextBox("covidbannerimage", "", new { @class = "form-control", type = "file", id = "covidbannerimage", accept = "image/png, image/gif, image/jpeg" })
                                        Browse
                                    </div>
                                    @Html.TextBoxFor(p => p.ImagePath, new { id = "covidbannerfilename", @class = "form-control", placeholder = "Include some files" })
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Upload File</label>
                                <label for="file" class="input input-file">
                                    <div class="button">
                                        @Html.TextBox("pdfupload", "", new { @class = "form-control", type = "file", id = "pdfupload", accept = ".pdf" })
                                        Browse
                                    </div>
                                    @Html.TextBoxFor(p => p.FileName, new { id = "pdfuploadfilename", @class = "form-control", placeholder = "Include some files" })
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 btn-save-outer">
                            <button type="submit" class="btn-save">Save</button>
                        </div>
                    </div>}
            </div>
        </div>
    </div>
</div>

