@model EliteHospital.Web.ViewModel.Booking.LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="shortcut icon" href="~/Content/Admin/img/brand/favicon.png" />
    <title>Elite Medical Center</title>
    <script src="https://kit.fontawesome.com/3dee8755de.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
    <link href="~/Content/Site/Booking/scss/style.css" rel="stylesheet">
    <link href="~/Content/Site/Booking/scss/new-style.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid logn">
        @*<a href="@Url.Action("Index", "Home", "")" class="homelink"><img src="~/Content/MainSite/images/home.png" class="img-fluid" alt="Elite Medical Center"></a>*@
        <ul class ="homelink">
            <li><a style="color: black" href="@Url.Action("Index", "Home", "")">BACK TO HOME</a></li>
        </ul>
        <div class="row">
            <div class="col-md-6 lgn-lft">
                <div class="lgn-contnr">
                    <a href="@Url.Action("Index", "Home", "")" class="brand-logo"><img src="~/Content/Site/Booking/images/logo.png" class="img-fluid" alt="Elite Medical Center"></a>
                    <div class="login-cap">
                        <h4>
                            Next appointment <br>
                            is at your fingertips!
                        </h4>
                        <p>Register now and Book An Appointment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 lgn-rt">

                <div class="gn-rt-container">
                    <div class="logn-top">
                        @Html.ActionLink("Login", "Index", null, new { @class = "active" })
                        @Html.ActionLink("Sign Up", "SignUp")
                    </div>
                    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "lgn-flids" }))
                    {
                        <label class="form-label">Phone Number</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">+974</span>
                            <span class="input-group-text" id="basic-addon2">+974</span>
                            @Html.TextBoxFor(p => p.MobileNo, new { type = "tel", @class = "form-control" })
                            @Html.HiddenFor(p => p.CountryCode)
                            @Html.HiddenFor(p => p.IsValidated)
                        </div>
                        <div class="mb-3">
                            @Html.ValidationMessageFor(p => p.MobileNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Qatar ID</label>
                            @Html.TextBoxFor(p => p.QatarId, new { type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.QatarId, "", new { @class = "text-danger" })

                        </div>
                        <div id="divVerificationCode" style="display:none" class="mb-3">
                            <label class="form-label">Verification Code</label>
                            @Html.TextBoxFor(p => p.VerificationCode, new { type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.VerificationCode, "", new { @class = "text-danger" })

                        </div>
                        <button type="submit" class="btn btn-primary" id="btnSendVerificationCode">SEND VERIFICATION CODE</button>
                        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pop1" data-toggle="modal" data-target="#pop1">SEND VERIFICATION CODE123</button>*@
                        <button id="btnSubmit" style="display:none" type="submit" class="btn btn-primary"></button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    }
                </div>
                <div class="lgn-botm">
                    Don't have an account? @Html.ActionLink("Sign Up", "SignUp")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade otp-pop" id="pop1" tabindex="-1" role="dialog" aria-labelledby="pop1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body logn ">
                    <div class="pop-logo">
                        <img src="~/Content/Site/Booking/images/p-logo.png" alt="">
                    </div>
                    <h3>Phone Verification</h3>
                    <h4>Enter The OTP Recivied on <span id="mobileNoInVerifyOTP"></span></h4>
                    <form action="" class="lgn-flids">
                        <div class="mb-3">
                            @*<input type="text" id="codereceived" placeholder="VERIFICATION CODE" class="form-control">*@
                            @Html.TextBoxFor(p => p.VerificationCode, new { id = "codereceived", placeholder = "VERIFICATION CODE", type = "text", @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.VerificationCode, "", new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <button type="button" class="btn btn-primary" id="verifyOTP">VERIFY</button>

                    </form>
                    <h5 id="timerdiv"><span id="timer"></span></h5>
                    <h5 id="resendotp" style="display: none;">If you did not recive your OTP or your OTP has expired, <a id="resendVerificationCode" href="#">Resend</a></h5>
                    @*<div>Time left = <span id="timer"></span></div>*@
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <script src="~/Content/Site/Booking/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let timerOn = true;
            function timer(remaining) {
                var m = Math.floor(remaining / 60);
                var s = remaining % 60;

                m = m < 10 ? '0' + m : m;
                s = s < 10 ? '0' + s : s;
                document.getElementById('timer').innerHTML = m + ':' + s;
                remaining -= 1;

                if (remaining >= 0 && timerOn) {
                    setTimeout(function () {
                        timer(remaining);
                    }, 1000);
                    return;
                }

                if (!timerOn) {
                    // Do validate stuff here
                    return;
                }
                $("#timerdiv").hide();
                $("#resendotp").show();
                // Do timeout stuff here
                //alert('Timeout for otp');
            }


            $("body").off("click", "#btnSendVerificationCode")
            $("body").on("click", "#btnSendVerificationCode", function () {
                $('#IsValidated').val(false);
            });

            var url = '@Url.Action("ResendOTPAsync", "Account")';
            $("body").off("click", "#resendVerificationCode")
            $("body").on("click", "#resendVerificationCode", function () {
                var mobile = $("#CountryCode").val() + $("#MobileNo").val();
                var qatarid = $("#QatarId").val();
                $.ajax({
                    type: "POST",
                    data: { mobile: mobile, qatarId: qatarid },
                    url: url,
                    dataType: "json",
                    success: function (result) {
                        $("#timerdiv").show();
                        $("#resendotp").hide();
                        timer(30);
                        //$('#pop1').modal('show');
                    }
                });
            });

            $("#verifyOTP").click(function () {
                var otp = $("#codereceived").val();
                if (otp != null && otp.trim().length > 0) {
                    $("#VerificationCode").val(otp);
                    $("#btnSubmit").click();
                }

            });

            $("#codereceived").keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#verifyOTP").click();
                }
            });

            if (window.location.host.startsWith("localhost") == true) {
                $("#basic-addon1").hide();
                $("#basic-addon2").show();
                $("#CountryCode").val("+91");
            }
            else {
                $("#basic-addon1").show();
                $("#basic-addon2").hide();
                $("#CountryCode").val("+974");
            }

            if ('@Model.IsValidated' == 'True') {
                $('#pop1').modal('show');
                var mobile = $("#CountryCode").val() + " " + $("#MobileNo").val();
                $("#mobileNoInVerifyOTP").text(mobile);
                $('#IsValidated').val('@Model.IsValidated.ToString().ToLower()');
                timer(30);
            }

            $(".close").click(function () {
                $('#pop1').modal('hide');
            });
        });

    </script>
</body>

</html>