
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 header-table">
                @if (ViewBag.FromMob == true)
                {
                    <h6 id="type" fromMob="true">Doctors List (Mobile)</h6> }
                else
                {
                    <h6 id="type" fromMob="false">Doctors List</h6>
                }
                <a href='@Url.Action("EditDoctor", "Doctor", new { FromMob = ViewBag.FromMob })' class="">Add New</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2 main-table">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">ORDER</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Position/Role</th>
                                @if (ViewBag.FromMob == false)
                                {
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Doctor Image</th>
                                }
                                else
                                {
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Doctor Image Mobile</th>
                                }
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">EDIT</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<EliteHospital.Core.Doctor>)ViewData["DoctorList"])
                            {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.OrderNo</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.DoctorName</h6>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Position</h6>

                                        </div>
                                    </div>
                                </td>
                                @if (ViewBag.FromMob == false)
                                {
                                    <td class="align-middle text-center text-sm">
                                        <div>
                                            @{
                                                var imgSrc = "";
                                                if (item.DoctorImage != null)
                                                {
                                                    var base64 = Convert.ToBase64String(item.DoctorImage);
                                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                }
                                            }
                                            @if (item.DoctorImage != null)
                                            {
                                                <img src="@imgSrc" class="avatar avatar-sm me-3" alt="user1">
                                            }
                                            else
                                            {

                                            }
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle text-center text-sm">
                                        <div>
                                            @{
                                                var imgSrcMob = "";
                                                if (item.DoctorImageMob != null)
                                                {
                                                    var base64 = Convert.ToBase64String(item.DoctorImageMob);
                                                    imgSrcMob = String.Format("data:image/gif;base64,{0}", base64);
                                                }
                                            }
                                            @if (item.DoctorImageMob != null)
                                            {
                                                <img src="@imgSrcMob" class="avatar avatar-sm me-3" alt="user1">
                                            }
                                            else
                                            {

                                            }
                                        </div>
                                    </td>
                                }
                                <td class="align-middle">
                                    @Html.ActionLink("Edit", "EditDoctor", "Doctor", new { Id = @item.Id, FromMob = ViewBag.FromMob }, new { @class = "doctoredit text-secondary font-weight-bold text-xs link-tab" })
                                </td>
                                <td class="align-middle">
                                    @*@Html.ActionLink("Delete", "DeleteDoctor", "Doctor", new { Id = @item.Id, FromMob = ViewBag.FromMob }, new { @class = "doctordelete text-secondary font-weight-bold text-xs link-tab" })*@
                                    <a Id=@item.Id class="DeleteDoctor bannerdelete text-secondary font-weight-bold text-xs link-tab" href="#">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav-collapse-main ul li a").removeClass("active");
        if ($("#type").attr("fromMob") == 'true') {
            $("#menuDoctorsMob").addClass("active");
        }
        else {
            $("#menuDoctors").addClass("active");
        }

        $("#pageHeader").text("Doctors");
        $("#pageHeader1").text("Doctors");

        var deleteurl = '@Url.Action("DeleteDoctor", "Doctor")';
        $("body").off("click", ".DeleteDoctor");
        $("body").on("click", ".DeleteDoctor", function () {
            if (confirm("Do you want to delete?")) {
                var Id = parseInt(this.id);
                var data = { Id: Id };
                var row = $(this).closest("tr");
                $.ajax({
                    type: "POST",
                    url: deleteurl,
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            row.remove();
                        }
                    }
                });
            }
        });
    });
</script>

